<h1>Edit Task</h1>

<%= form_with model: @tasks do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.submit "Create Task" %>
<% end %>

<%= link_to "back to list", tasks_path %>
